* {
    box-sizing: border-box;
  }
.banner{
    width: 100%;
}
img{
    width: 5cm;
    height: 8cm;
}
h1{
    text-shadow: black;
    font-size: larger;
}
    /*instructions for when screen size <768px*/
    @media screen and (max-width: 768px) {
    
        .banner {
          /* Box-model */
          width: 100%;
        }
        .card-deck {
            /* Box-model */
            width: 100%;
          }
    }

